

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!--  --> 
          <%= link_to "Home", root_path, class:"blog-nav-item" %> 
          <!-- Administraciòn Users y Tipos de Hospedaje  -->        
          <%= link_to "Admins Bathroom", admin_path, class:"blog-nav-item" %>
          <!-- Perfil privado de User -->
          <%= link_to "Users Bedroom", user_path, class:"blog-nav-item" %>
          <!-- Busqueda de Hospedajes -->
          <%= link_to "The Neigborhood", search_path, class:"blog-nav-item active" %>
          <!-- Secciòn de Info sobre la empresa -->
          <%= link_to "Our Kitchen", about_path, class:"blog-nav-item" %>
        </nav>
      </div>
    </div> 


<! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>
       <div class="container">
          <h1> Hospedaje seleccionado </h1>

            <% @Hospedaje.each do |h| %> <!-- Muestra Hospedajes del Usuario -->
                      
                         <%= h.id %>  <br></br>
                            
                         <b>Nombre: </b> <%= h.nombre %> <br></br>
                         
                         <b>Tipo de Hospedaje:    </b> <%= h.accommodation_type_id %> <br></br>
                         <b>Capacidad:            </b> <%= h.cantidad_personas %> <br></br>
                         <b>Usuario:              </b> <%= h.user_id %> <br></br>
                         <b>Direcciòn:            </b> <%= h.direccion %> <br></br>
                         <b>Imagen:               </b> <%= h.foto %> <br></br>
                         <b>Puntuaciòn del Lugar: </b> <%= h.puntaje %> <br></br>
                         <b>Descripciòn:          </b> <%= h.descripcion %> <br></br>  

                         <% @auxOwner =  h.user_id %>
                         <% @auxHId =  h.id %>          
            <% end %>          






       </div>   
<! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>

        <div class="container">
            <h1> Realizar Pregunta </h1>

            <%= form_for @Pregunta do |p| %>

                <span> <%=p.label :question,'Ingrese su pregunta aquì: '%>  </span>
                <%=p.text_field :question %>
               
                <%=p.hidden_field :accommodation_id, :value => @auxHId %>
                
                <%=p.hidden_field :asker, :value => current_user.id %>
                
                <%=p.hidden_field :accommodation_owner, :value => @auxOwner %>
                
            <%=p.submit 'Crear', :class => 'btn btn-xs btn-primary'%>

    <% end %>

        </div> 


<! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>

<div class="container">
<h1> Solicitar Reserva </h1>

<%= form_for Request.new do |r| %>

    <div class="input-daterange input-group" id="datepicker" >
        <span class="input-group-addon">Desde</span>
        <%=r.text_field :initial_date, class: "input-sm form-control"  %>
        <span class="input-group-addon">Hasta</span>
        <%=r.text_field :final_date, class: "input-sm form-control" %>
    </div>

    <%=r.hidden_field :accommodation_id, :value => @auxHId %>
    <%=r.hidden_field :accommodation_owner, :value => @auxOwner %>
    <%=r.hidden_field :requester, :value => current_user.id %>

    <%=r.submit 'Solicitar', :class => 'btn btn-xs btn-primary'%>
<% end %>

<!--
    <%# button_to "Solicitar",
                                        requests_path(current_user.id),
                                        :action => 'create', 
                                        :method => :post,
                                        :class => 'btn btn-xs btn-primary',
                                        #Parametros
                                        params: {
                                        :accommodation_id => @auxHId,
                                        :accommodation_owner => @auxOwner,
                                        :requester => current_user.id,
                                        #:initial_date => sd
                                        #:final_date => @endDate 
                                      }
                                        %>
                                     
    <br></br>
-->
          

</div>

<! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>






<td>

<%= link_to "Volver", 
                        search_path, 
                        class:"btn btn-lg btn-info" 
            %>
</td> 

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
        $('.input-daterange').datepicker({
        clearBtn: true,
        language: "es",
        autoclose: true,


    });

  </script> 

          <script type="text/javascript">
        var @startDate 
        $(document).ready(function(){
          $("#datepicker").getStartDate(@startDate);
        });
    </script>


               