    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!--  --> 
          <%= link_to "Home", root_path, class:"blog-nav-item" %> 
          <!-- Administraciòn Users y Tipos de Hospedaje  -->        
          <%= link_to "Admins Bathroom", admin_path, class:"blog-nav-item" %>
          <!-- Perfil privado de User -->
          <%= link_to "Users Bedroom", user_path, class:"blog-nav-item active" %>
          <!-- Busqueda de Hospedajes -->
          <%= link_to "The Neigborhood", search_path, class:"blog-nav-item" %>
          <!-- Secciòn de Info sobre la empresa -->
          <%= link_to "Our Kitchen", about_path, class:"blog-nav-item" %>
        </nav>
      </div>
    </div> 



<h3> Nuevo Hospedaje </h3>
	<div class="container">
		<%= form_for @Hospedaje do |f| %>

			<%=f.label :nombre,'Name' %> 
			<%=f.text_field :nombre %>
			<br></br>
			<%=f.label :accommodation_type_id,'Tipo de hospedaje' %> 
			<%=f.collection_select(:accommodation_type_id, AccommodationType.all, :id, :nombre) %>
			<br></br>
			<%=f.label :foto,'Foto' %> 
			<%=f.text_field :foto %>
			<br></br>
			<%=f.label :cantidad_personas,'Cantidad Maxima de personas' %> 
			<%=f.text_field :cantidad_personas %>
			<br></br>
			<%=f.label :activo, 'Agregar a Buscador' %>
			<%=f.check_box :activo %>
			<br></br>
			<%=f.label :descripcion,'Descripcion' %> 
			<%=f.text_field :descripcion %>
			<br></br>
			<%=f.hidden_field :user_id, :value => current_user.id %>



			<%=f.submit 'Crear',  :class => 'btn btn-xs btn-success' %>

		<% end %>
	</div>

	<td> 

	<%= link_to "Volver", 
                        user_path, 
                        class:"btn btn-lg btn-info" 
            %>

	</td>	

