    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!--  --> 
          <%= link_to "Home", root_path, class:"blog-nav-item" %> 
          <!-- Administraciòn Users y Tipos de Hospedaje  -->        
          <%= link_to "Admins Bathroom", admin_path, class:"blog-nav-item" %>
          <!-- Perfil privado de User -->
          <%= link_to "Users Bedroom", user_path, class:"blog-nav-item" %>
          <!-- Busqueda de Hospedajes -->
          <%= link_to "The Neigborhood", search_path, class:"blog-nav-item active" %>
          <!-- Secciòn de Info sobre la empresa -->
          <%= link_to "Our Kitchen", about_path, class:"blog-nav-item" %>
        </nav>
      </div>
    </div>  

<h1> Hospedajes Prueba </h1>
    <div class="row">
        <div class="col-md-10" > <!--class="col-md-6"-->

      <div class="panel panel-success col-md-offset-3 ">
            <div class="panel-heading">
              <h3 class="panel-title">Nueva Busqueda</h3>
            </div>
            <div class="panel-body">
              <%= form_tag search_path, :method => :'get' do %>
                <p>
                    <%= text_field_tag :search, params[:search] %>
                    <%= submit_tag "    ",  :class => "btn btn-lg btn-success" %>
                </p>

      <% end %>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Hospedaje</th>
                <th>Tipo</th>
                <th>Foto</th>
                <th>Propietario</th>
                <th>Puntos</th>
                <th>Tamanio</th>
                <!-- <th>Direccion</th> -->
                <th>Descripcion</th>
                <th> Ver Mas </th>
              </tr>
            </thead>
            <tbody>
	<ul>
		<% @Hospedaje.each do |h| %>
			<tr>
                <td> <%= h.id %> </td><!-- <%= image_tag("0_0.png") %> -->
                <td> <%= h.nombre %> </td> 
                <td> <%= h.accommodation_type.nombre%> </td>
                <% if h.user.vip == true %>
                    <td> <%= image_tag( "#{h.foto}", size: "100x100"  ) %> </td>
                <% else %>
                    <td> <%= image_tag( "/assets/premium/prem.png", size: "100x100"  ) %> </td>
                <% end %>
                <td> <%= h.user.nombre %>  <%= h.user.apellido %> </td>
               
               <td>
                <% if h.puntaje == 0 %>
                  <%= image_tag("/assets/stars/0_0.png", height: '15', width:'58') %> 
                <% elsif ((h.puntaje > 0 ) and (h.puntaje <= 10 )) %>
                  <%= image_tag("/assets/stars/0_5.png", height: '15', width:'58') %> 
                <% elsif ((h.puntaje > 10 ) and (h.puntaje <= 20 )) %>
                  <%= image_tag("/assets/stars/1.png", height: '15', width:'58') %> 
                <% elsif ((h.puntaje > 20 ) and (h.puntaje <= 30 ))%>
                  <%= image_tag("/assets/stars/1_5.png", height: '15', width:'58') %> 
                <% elsif ((h.puntaje > 30 ) and (h.puntaje <= 40 ))%>
                  <%= image_tag("/assets/stars/2.png", height: '15', width:'58') %> 
                <% elsif ((h.puntaje > 40 ) and (h.puntaje <= 50 )) %>
                  <%= image_tag("/assets/stars/2_5.png", height: '15', width:'58') %> 
                <% elsif ((h.puntaje > 50 ) and (h.puntaje <= 60 )) %>
                  <%= image_tag("/assets/stars/3.png", height: '15', width:'58') %> 
                <% elsif ((h.puntaje > 60 ) and (h.puntaje <= 70 )) %>
                  <%= image_tag("/assets/stars/3_5.png", height: '15', width:'58') %> 
                <% elsif ((h.puntaje > 70 ) and (h.puntaje <= 80 )) %>
                  <%= image_tag("/assets/stars/4.png", height: '15', width:'58') %> 
                <% elsif ((h.puntaje > 80 ) and (h.puntaje <= 90 )) %>
                  <%= image_tag("/assets/stars/4_5.png", height: '15', width:'58') %> 
                <% elsif ((h.puntaje > 90 ) and (h.puntaje <= 100 )) %>
                  <%= image_tag("/assets/stars/5.png", height: '15', width:'58') %>
                <% end %>

               </td>

                <td> 
                  <% if h.cantidad_personas == 1 %>
                     <button type="button" class="btn btn-success"> 1 </button>
                  <% elsif h.cantidad_personas == 2 %>
                     <button type="button" class="btn btn-info"> 2 </button>
                  <% elsif h.cantidad_personas == 3 %>
                     <button type="button" class="btn btn-primary"> 3 </button>
                  <% elsif h.cantidad_personas == 4 %>
                     <button type="button" class="btn btn-warning"> 4 </button>
                  <% elsif h.cantidad_personas == 5 %>
                     <button type="button" class="btn btn-danger"> 5 </button>
                  <% end %>   
                </td>
                <!-- <td> <%= h.direccion %> </td> -->
                <td> <%= h.descripcion %> </td>
                <td> <%= button_to "    +      ",  
                                  accommodation_more_path(h.id),
                                  :method => :get,
                                  :class  => "btn btn-lg btn-success" 
                     %> </td>
                
       </tr>
		<% end %>

	</ul>
			</tbody>
          </table>
        </div>
      </div>

      
      <td>  <%= link_to "Volver", 
                        root_path, 
                        class:"btn btn-lg btn-info" 
            %>  </td>
              
