    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!--  --> 
          <%= link_to "Home", root_path, class:"blog-nav-item" %> 
          <!-- Administraciòn Users y Tipos de Hospedaje  -->        
          <%= link_to "Admins Bathroom", admin_path, class:"blog-nav-item" %>
          <!-- Perfil privado de User -->
          <%= link_to "Users Bedroom", user_path, class:"blog-nav-item active" %>
          <!-- Busqueda de Hospedajes -->
          <%= link_to "The Neigborhood", search_path, class:"blog-nav-item" %>
          <!-- Secciòn de Info sobre la empresa -->
          <%= link_to "Our Kitchen", about_path, class:"blog-nav-item" %>
        </nav>
      </div>
    </div> 

<% if user_signed_in? %>
      <div align="center" class="container">
        <br></br>
        <a href="/accommodation/new" class="btn btn-lg btn-info" role="button" >Ingresar Nuevo Hospedaje</a>

        <% if current_user.vip != true %>
            <%= link_to image_tag("/assets/premium/gemf.png", size: "50x50", class: "pull-right"), premium_path %>
        
        <% else %>
            <%= link_to image_tag("/assets/premium/gemp.png", size: "50x50", class: "pull-right"), premium_path %>
        <% end %>
        <%= button_to 'Edit profile', edit_user_registration_path, method: :get, :class => 'btn btn-xs btn-primary pull-right' %>
        <br></br>
      </div> 
<! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>
      <% if Accommodation.exists?(user_id: current_user.id) %>
       <div class="container">
          <h1> Mis Hospedajes </h1>
          <div class="row">
            <div >  <!-- class="col-md-6" -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre del Hospedaje</th>
                    <th>Imagen</th>
                    <th>Solicitudes</th>
                    <th>Preguntas</th>
                    <th>Activo en Buscador</th>
                  </tr>
                </thead>
                <tbody>
                  <ul>
                    <% @Hospedaje.each do |h| %> <!-- Muestra Hospedajes del Usuario -->
                      <tr>
                        <td> <%= h.id %>     </td><!--  Num Id -->
                        <td> <%= h.nombre %> </td><!--  Nombre del hospedaje -->
                        <td> <%= image_tag( "#{h.foto}", size: "100x100"  ) %>   </td><!--  La imagen se puede cargar siempre, pero solo se muestra en las busquedas cuando el usuario es Premmium -->
                        <td> <!-- Botòn Solicitudes -->
                           <% if !Request.exists?(accommodation_id: h.id )  %>  
                           <!-- Si no hay Solicitudes, muestra el botòn en gris -->
                              <button type="button" class="btn btn-lg btn-default">   0  </button>
                           <% else %>
                           <!-- Si hay Solicitudes, muestra el botòn en celeste -->
                              <%= button_to "X",  
                                  request_url(h.id),
                                  :action => 'show',
                                  :method => :get,
                                  :class  => "btn btn-lg btn-primary" 
                            %>
                           <% end %>                             
                
                        </td>

                        <td> <!-- Botòn Preguntas -->
                            <% if !Question.exists?(accommodation_id: h.id )  %>  
                              <!-- Si no hay Preguntas, muestra el botòn en gris -->
                                 <%= button_to "0",  
                                  question_url(h.id),
                                  :action => 'show',
                                  :method => :get,
                                  :class  => "btn btn-lg btn-default" 
                            %>
                             <% else %>
                              <!-- Si hay Preguntas, muestra el botòn en celeste -->
                                 <%= button_to "X",  
                                  question_url(h.id),
                                  :action => 'show',
                                  :method => :get,
                                  :class  => "btn btn-lg btn-primary" 
                            %>
                             <% end %>                             
                
                        </td>
                        <td> <!-- Botòn de Publicar -->
                          <% if h.activo == true %>
                          <!-- Si està ACTIVO entonces el Botòn DESACTIVA para que no se muestre en las busquedas-->
                            <%= button_to "Ocultar",  
                                  accommodation_url(h.id),
                                  :action => 'cambioStatus',
                                  :method => :put,
                                  :class  => "btn btn-lg btn-default" 
                            %>
                          <% else %>
                          <!-- Si està DESACTIVADO entonces el Botòn Activa para que se muestre en las busquedas -->
                            <%= button_to "Mostrar",
                                  accommodation_url(h.id),
                                  :action => 'cambioStatus',
                                  :method => :put,
                                  :class  => "btn btn-lg btn-success" 
                                  
                            %>
                          <% end %> 
                        </td> 
                      </tr>
                    <% end %>  
                  </ul>
                </tbody>   
              </table>
            </div>
          </div>     
       </div>
      <% else %>
        <!-- Si el usuario no tiene ningùn hospedaje cargado, en lugar de mostrar la tabla, muestra un texto basico -->
        <div class="container">
          <h1> Usted no tiene Hospedajes cargados </h1>
        </div>  
      <% end %> 
<! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>
       <div class="container">
          <h1 > Mis Preguntas realizadas </h1>
          <div class="row">
            <div > <!-- class="col-md-6" -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Hospedaje</th>
                    <th>Propietario</th>
                    <th>Pregunta</th>
                    <th>Respuesta</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <ul>
                    
                    <% @MisPreguntas.each do |m| %>
                    <tr>
                          <td> <%= m.id %>     </td>
                          <td> <%= m.accommodation.nombre %>     </td>
                          <td> <%= m.accommodation.user.nombre %>     </td>
                          <td> <%= m.question %>     </td>
                            <% if m.answer == nil %>
                                <td> <button type="button" class="btn btn-lg btn-danger">      </button></td>
                            <% else %>
                                <td><%= button_to "         ",
                                        user_path(current_user.id),
                                        :action => 'show', 
                                        :method => :get,
                                        :class  => "btn btn-lg btn-success",
                                        :data => {:confirm => m.answer} %></td>
                            <% end %> 
                          <td> <button type="button" class="btn btn-lg btn-default">      </button></td>   
                    <% end %>
                    </tr>
                    </ul>
                </tbody>   
              </table>
            </div>
          </div>          
       </div>

    <br></br>
    <td>  
        <%= link_to "Volver", 
                        root_path, 
                        class:"btn btn-lg btn-info" 
            %>  
    </td>

<% else %>
    <td> 
      <a href="http://localhost:3000" class="btn btn-lg btn-danger" role="button" >
        Debe registrarse para acceder a esta secciòn
      </a>  
    </td>
<% end %>

