<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>


    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="http://localhost:3000">Home</a>
          <a class="blog-nav-item active" href="admin">Admins Bathroom</a> <!Seccion para administrar usuarios y tipos de  hospedaje > 
          <a class="blog-nav-item" href="user">Users Bedroom</a>   <!Seccion para que los usuarios modifiquen su   perfil >
          <a class="blog-nav-item" href="search">The Neigborhood</a> <!Seccion de ofertas de lugares >
          <a class="blog-nav-item" href="about">Our Kitchen</a>        <!Seccion de informacion sobre CouchInn >
        </nav>
      </div>
    </div>   

<% if user_signed_in? %>
 <% if current_user.admin == true %> <!-- Checks if the user has admin privileges -->
  <h1> Administracion de Tipos de Hospedajes </h1>
    <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Tipo de Hospedaje</th>
                <th>Activo</th>
                <th>Modificar</th>
                <th>Eliminar</th>
                <th>Cambio Status</th>
              </tr>
            </thead>
            <tbody>
	<ul>
		<% @tipoHospedaje.each do |h| %>
			<tr>
                <td> <%= h.id %> </td><!-- Num Id -->
                <td> <%= h.nombre %> </td><!--Nombre del tipo de hospedaje -->
                <td>
                	<% if h.activo == true %>
                    <button type="button" class="btn btn-lg btn-success">      </button><!-- Verde = TH Activo-->
                  <% else %>
                    <button type="button" class="btn btn-lg btn-default">      </button><!-- Blanc = TH Inact--> 
                  <% end %>  
                </td>
                <td>
                  <!-- <a href="/index" class="btn btn-lg btn-warning" role="button" >         </a> -->
                  <%= button_to "         ", 
                      edit_accommodation_type_path(h.id), 
                      :method => :get,
                      :class  => "btn btn-lg btn-warning"
                  %>
                </td><!--  -->
                <td>
                  <!-- <a href="/index" class="btn btn-lg btn-danger" role="button" >         </a>  -->
                    
                  <%= button_to "         ", 
                      accommodation_type_path(h.id), 
                      :method => :delete,
                      :class  => "btn btn-lg btn-danger" 
                  %> 
                </td><!-- -->
                <td>
                  <% if h.activo == true %>
                  <!-- Si es ACTIVO entonces muestra el boton de DESACTIVAR y viceversa-->
                  <!--  <a href="/index" class="btn btn-lg btn-default" role="button" >         </a> -->
                    <%= button_to "         ",  
                      accommodation_type_path(h.id),
                      :action => 'show',
                      :method => :get,
                      :class  => "btn btn-lg btn-default" 
                  %>
                  <% else %>
                  <!--  <a href="/index" class="btn btn-lg btn-success" role="button" >         </a> -->
                    <%= button_to "         ",  
                      accommodation_type_path(h.id),
                      :action => 'show',
                      :method => :get,
                      :class  => "btn btn-lg btn-success" 
                  %>
                  <% end %> 
                </td> 
                
             </tr>
		<% end %>

	</ul>
			</tbody>
          </table>
        </div>
      </div>
      
      <td> <a href="/admin/new" class="btn btn-lg btn-info" role="button" >Crear Nuevo Tipo de Hospedaje</a>

      </td>

 <% else %>
  <td> <a href="http://localhost:3000" class="btn btn-lg btn-danger" role="button" >Debe ser administrador para acceder a esta secciòn</a>  </td>
 <% end %>

<% else %>
  <td> <a href="http://localhost:3000" class="btn btn-lg btn-danger" role="button" >Debe registrarse y ser administrador para acceder a esta secciòn</a>  </td>
<% end %>


    </body>