    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!--  --> 
          <%= link_to "Home", root_path, class:"blog-nav-item" %> 
          <!-- Administraciòn Users y Tipos de Hospedaje  -->        
          <%= link_to "Admins Bathroom", admin_path, class:"blog-nav-item active" %>
          <!-- Perfil privado de User -->
          <%= link_to "Users Bedroom", user_path, class:"blog-nav-item" %>
          <!-- Busqueda de Hospedajes -->
          <%= link_to "The Neigborhood", search_path, class:"blog-nav-item" %>
          <!-- Secciòn de Info sobre la empresa -->
          <%= link_to "Our Kitchen", about_path, class:"blog-nav-item" %>
        </nav>
      </div>
    </div> 

<% if user_signed_in? %>
 <% if current_user.admin == true %> <!-- Checks if the user has admin privileges -->
  <h1> Administracion de Tipos de Hospedajes </h1>
    <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Tipo de Hospedaje</th>
                <th>Activo</th>
                <th>Modificar</th>
                <th>Eliminar</th>
                <th>Cambio Status</th>
              </tr>
            </thead>
            <tbody>
	<ul>
		<% @tipoHospedaje.each do |h| %>
			<tr>
                <td> <%= h.id %> </td><!-- Num Id -->
                <td> <%= h.nombre %> </td><!--Nombre del tipo de hospedaje -->
                <td>
                	<% if h.activo == true %>
                    <button type="button" class="btn btn-lg btn-success">      </button><!-- Verde = TH Activo-->
                  <% else %>
                    <button type="button" class="btn btn-lg btn-default">      </button><!-- Blanc = TH Inact--> 
                  <% end %>  
                </td>
                <td>
                  <!-- <a href="/index" class="btn btn-lg btn-warning" role="button" >         </a> -->
                  <%= button_to "         ", 
                      edit_accommodation_type_path(h.id), 
                      :method => :get,
                      :class  => "btn btn-lg btn-warning"
                  %>
                </td><!--  -->
                <td>
                  <!-- <a href="/index" class="btn btn-lg btn-danger" role="button" >         </a>  -->
                    
                  <%= button_to "         ", 
                      accommodation_type_path(h.id), 
                      :method => :delete,
                      :class  => "btn btn-lg btn-danger",
                      :data => {:confirm => 'Estàs seguro?'}                 %> 
                </td><!-- -->
                <td>
                  <% if h.activo == true %>
                  <!-- Si es ACTIVO entonces muestra el boton de DESACTIVAR y viceversa-->
                  <!--  <a href="/index" class="btn btn-lg btn-default" role="button" >         </a> -->
                    <%= button_to "         ",  
                      accommodation_type_path(h.id),
                      :action => 'show',
                      :method => :get,
                      :class  => "btn btn-lg btn-default" 
                  %>
                  <% else %>
                  <!--  <a href="/index" class="btn btn-lg btn-success" role="button" >         </a> -->
                    <%= button_to "         ",  
                      accommodation_type_path(h.id),
                      :action => 'show',
                      :method => :get,
                      :class  => "btn btn-lg btn-success" 
                  %>
                  <% end %> 
                </td> 
                
             </tr>
		<% end %>

	</ul>
			</tbody>
          </table>
        </div>
      </div>
      
      <td> 
            <%= link_to "Crear Nuevo Tipo de Hospedaje", 
                        admin_new_path, 
                        class:"btn btn-lg btn-info" 
            %>
      </td>
      <td>
            <%= link_to "Volver", 
                        root_path, 
                        class:"btn btn-lg btn-info" 
            %>
      </td>

 <% else %>
  <td>  
    <%= link_to "Debe ser administrador para acceder a esta secciòn", 
              root_path, 
              class:"btn btn-lg btn-danger" 
    %>

  </td>
 <% end %>

<% else %>
  <td>  
    <%= link_to "Debe registrarse y ser administrador para acceder a esta secciòn", 
                root_path, 
                class:"btn btn-lg btn-danger" 
    %>
 </td>
<% end %>


