<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="">Home</a>
          <a class="blog-nav-item" href="admin">Admins Bathroom</a> <!Seccion para administrar usuarios y tipos de  hospedaje > 
          <a class="blog-nav-item" href="user">Users Bedroom</a>   <!Seccion para que los usuarios modifiquen su   perfil >
          <a class="blog-nav-item" href="search">The Neigborhood</a> <!Seccion de ofertas de lugares >
          <a class="blog-nav-item" href="about">Our Kitchen</a>        <!Seccion de informacion sobre CouchInn >
        </nav>
      </div>
    </div>  
    
    	<td> <%= @h.id %> </td>
    	<td> <%= @h.nombre %> </td>
    	<td> <%= @h.activo %> </td>
    	

    <div class="container">
		<%= form_for @h do |f| %>
			<%=f.label :nombre,'Name' %> 
			<%=f.text_field :nombre %>
			<br></br>
			<%=f.label :activo %>
			<%=f.check_box :activo %>

			<%=f.submit 'Guardar' %>

		<% end %>
	</div>

<td> <a href="/admin" class="btn btn-lg btn-info" role="button" >Volver</a>	