    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!--  --> 
          <%= link_to "Home", root_path, class:"blog-nav-item" %> 
          <!-- Administraciòn Users y Tipos de Hospedaje  -->        
          <%= link_to "Admins Bathroom", admin_path, class:"blog-nav-item active" %>
          <!-- Perfil privado de User -->
          <%= link_to "Users Bedroom", user_path, class:"blog-nav-item" %>
          <!-- Busqueda de Hospedajes -->
          <%= link_to "The Neigborhood", search_path, class:"blog-nav-item" %>
          <!-- Secciòn de Info sobre la empresa -->
          <%= link_to "Our Kitchen", about_path, class:"blog-nav-item" %>
        </nav>
      </div>
    </div> 
<!--    
    	<td> <%= @h.id %> </td>
    	<td> <%= @h.nombre %> </td>
    	<td> <%= @h.activo %> </td>
  -->  	
<h3> Modificar Tipo de Hospedaje </h3>
    <div class="container">
		<%= form_for @h do |f| %>
			<%=f.label :nombre,'Name' %> 
			<%=f.text_field :nombre %>
			<br></br>
			<%=f.label :activo %>
			<%=f.check_box :activo %>
      <br></br>
			<%=f.submit 'Guardar', :class => 'btn btn-xs btn-success' %>

		<% end %>
	</div>

<td> 
<%= link_to "Volver", 
                        admin_path, 
                        class:"btn btn-lg btn-info" 
            %>
</td>            