<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="http://localhost:3000">Home</a>
          <a class="blog-nav-item active" href="http://localhost:3000/admin">Admins Bathroom</a> <!Seccion para administrar usuarios y tipos de  hospedaje > 
          <a class="blog-nav-item" href="http://localhost:3000/user">Users Bedroom</a>   <!Seccion para que los usuarios modifiquen su   perfil >
          <a class="blog-nav-item" href="http://localhost:3000/search">The Neigborhood</a> <!Seccion de ofertas de lugares >
          <a class="blog-nav-item" href="http://localhost:3000/about">Our Kitchen</a>        <!Seccion de informacion sobre CouchInn >
        </nav>
      </div>
    </div>   



<h3> Nuevo Hospedaje </h3>
	<div class="container">
		<%= form_for @tipoHospedaje do |f| %>
			<%=f.label :nombre,'Name' %> 
			<%=f.text_field :nombre %>
			<br></br>
			<%=f.label :activo %>
			<%=f.check_box :activo %>

			<%=f.submit 'Guardar' %>

		<% end %>
	</div>

  <td> <a href="/admin" class="btn btn-lg btn-info" role="button" >Volver</a> 
  
</body>
