    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!--  --> 
          <%= link_to "Home", root_path, class:"blog-nav-item" %> 
          <!-- Administraciòn Users y Tipos de Hospedaje  -->        
          <%= link_to "Admins Bathroom", admin_path, class:"blog-nav-item" %>
          <!-- Perfil privado de User -->
          <%= link_to "Users Bedroom", user_path, class:"blog-nav-item active" %>
          <!-- Busqueda de Hospedajes -->
          <%= link_to "The Neigborhood", search_path, class:"blog-nav-item" %>
          <!-- Secciòn de Info sobre la empresa -->
          <%= link_to "Our Kitchen", about_path, class:"blog-nav-item" %>
        </nav>
      </div>
    </div>

    <! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>
       <div class="container">
          <h1> Solicitudes </h1>

            <% @Solicitud.each do |s| %> <!-- Muestra Hospedajes del Usuario -->
                      
                         <%= s.id %>  <br></br>
                            
                         <b>Usuario: </b> <%= s.requester %> <br></br>
                         <b>ID del Hospedaje: </b> <%= s.accommodation_id %> <br></br>

                         

                            
                                  
            <% end %>          

    


       </div>   
<! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>

