    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!--  --> 
          <%= link_to "Home", root_path, class:"blog-nav-item" %> 
          <!-- Administraciòn Users y Tipos de Hospedaje  -->        
          <%= link_to "Admins Bathroom", admin_path, class:"blog-nav-item" %>
          <!-- Perfil privado de User -->
          <%= link_to "Users Bedroom", user_path, class:"blog-nav-item active" %>
          <!-- Busqueda de Hospedajes -->
          <%= link_to "The Neigborhood", search_path, class:"blog-nav-item" %>
          <!-- Secciòn de Info sobre la empresa -->
          <%= link_to "Our Kitchen", about_path, class:"blog-nav-item" %>
        </nav>
      </div>
    </div>

    <! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>
       <div class="container">
          <h1> Solicitudes Pendientes</h1>        

          <div class="blog-post">
          <table class="table table-striped">
            <thead>
              <tr>
               
                <th>Usuario</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Aceptar</th>
                <th>Rechazar</th>
                
              </tr>
            </thead>

            <tbody>
              <% @Solicitud.each do |s| %>
     
                <tr>
                
                  <td> <%= s.requester %> </td>
                  <td> <%= s.initial_date %> </td>
              
                  <td> <%= s.final_date %> </td>
                
                  <td> <%= button_to "     ",  
                                  edit_request_path(s.id),
                                  :method => :get,
                                  :class  => "btn btn-lg btn-success" 
                        %> </td>

                  <td>
                    <%= button_to "         ", 
                      request_path(s.id), 
                      :method => :delete,
                      :class  => "btn btn-lg btn-danger",
                      :data => {:confirm => 'Estàs seguro? Esta acciòn es irreversible'}
                    %> 
                  </td>      
                
                </tr>

              <% end %>
            </tbody>
          </table>
          </div>
        </div>  
      
<! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>

<div class="container">
          <h1> Solicitudes Aceptadas</h1>        

          <div class="blog-post">
          <table class="table table-striped">
            <thead>
              <tr>
               
                <th>Usuario</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>

              </tr>
            </thead>

            <tbody>
              <% @Aceptadas.each do |a| %>
     
                <tr>
                
                  <td> <%= a.requester %> </td>
                  <td> <%= a.initial_date %> </td>              
                  <td> <%= a.final_date %> </td>     
               
                </tr>

              <% end %>
            </tbody>
          </table>
          </div>
        </div> 

<! ///////////////////////////////////////////////////////////////////////////////////////////////////////////////>

<%= link_to "Volver", 
                        user_path, 
                        class:"btn btn-lg btn-info" 
            %>        