<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Primer Sprint">
    <meta name="author" content="RoSaS">
    <link rel="icon" href="../../favicon.ico">

    <title>CouchInn</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!--  --> 
          <%= link_to "Home", root_path, class:"blog-nav-item active" %> 
          <!-- Administraciòn Users y Tipos de Hospedaje  -->        
          <%= link_to "Admins Bathroom", admin_path, class:"blog-nav-item" %>
          <!-- Perfil privado de User -->
          <%= link_to "Users Bedroom", user_path, class:"blog-nav-item" %>
          <!-- Busqueda de Hospedajes -->
          <%= link_to "The Neigborhood", search_path, class:"blog-nav-item" %>
          <!-- Secciòn de Info sobre la empresa -->
          <%= link_to "Our Kitchen", about_path, class:"blog-nav-item" %>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">CouchInn</h1>
        <p class="lead blog-description">Because its 3am and we are still here</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Post1</h2>
            <p class="blog-post-meta">Mes D, YYYY by <a href="#">Isi</a></p>

            <p>Tanto los datos de fecha como el owner, titulo y descripciòn deben ser levantados dinamicamente.</p>
            
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Post2</h2>
            <p class="blog-post-meta">Mes DD, YYYY by <a href="#">Paly</a></p>

            <p>En el titulo deberìa ir el logo de la empresa.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Post3</h2>
            <p class="blog-post-meta">Mes DD, YYYY by <a href="#">Rober</a></p>

            <p>Cuando se està logueado debe mostrar otros 2 botones (logOut y Settings).</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
             <h4> :) </h4>
              <% if user_signed_in? %> 
                <strong><%= current_user.email %></strong>. 
                <nav>
                <ul class="pager">
              <li><th><%= button_to 'Edit profile', edit_user_registration_path, method: :get, :class => 'btn btn-xs btn-primary' %> </li>
                 <li><th><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-xs btn-danger'  %> </li>
                </ul>
                </nav>
              <% else %> 
                  <ul class="pager">
                 <li><%= button_to "Sign up", new_user_registration_path, method: :get, :class => 'btn btn-xs btn-success' %> </li>
                 <li><%= button_to "Login", new_user_session_path, method: :get, :class => 'btn btn-xs btn-primary'  %></li>
                 </ul>
              <% end %>   
          </div>
          <div class="sidebar-module">
            <h4>The Shack</h4>
            <p>Acà van algunos Tipos y al hacer click lista resultados filtrados por ese tipo </p>
            <ol class="list-unstyled">
              <li><a href="#">Departamentos</a></li>
              <li><a href="#">Casas</a></li>
              <li><a href="#">Carpas</a></li>
              <li><a href="#">Chalets</a></li>
              <li><a href="#">Patios</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Aplicacion desarrollada para la catedra de Ing. de Sistemas  <a href="http://gucalp.edu.ar">UCALP 2016</a> by <a href="https://github.com/Isidorito/IngSoft">@RoSaS</a>.</p>
      <p>
        <a href="">To the Roof</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  </body>
</html>
